body {
  background: black;
  background-image: url('tntm.png');
  background-size: cover;
}

h1 {
  color: white;
}

p {
  color: white;
}

.phrase-card {
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
}

button {
  width: 150px;
  border-radius: 10px;
  cursor: pointer;
}

button:hover {
 background-color: black;
 color: white;
}

.mommy {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  align-items: center;
  width: 100%;
}