.App {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  align-items: center;
  width: 100%;
  background-image: url('logotntm.png');
  background-repeat: no-repeat;
  background-position: top;
}

p {
  color: rgb(7, 0, 0);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 40px;
}

.phrase-card {
  display: flex;
  flex-direction: column;
  justify-content: space-between; 
  margin-top: 200px;
  border: 2px solid #d1b296;
  border-radius: 10px;
  box-shadow: 0 0 6px rgba(0, 0, 0, .2);
  height: 250px;
  padding: 20px;
}

.phrase {
  font-size: 20px;
  display: flex;
  flex-direction: row;
}

 .fave-button, .next-button {
  background-color: #eee4e1;
  margin-left: 0.75em;
  margin-right: 0.75em;
  padding: 0.75rem;
  min-width: fit-content;
  cursor: pointer;
}

button {
  width: 100px;
  border-radius: 10px;
  cursor: pointer;
} 

button:hover {
  background-color: black;
  color: white;
}

