.home-button, .favorite-button {
  background-color: #eee4e1;
  padding: 0.75rem;
  min-width: fit-content;
  cursor: pointer;
}

 .navbar { 
  align-items: center;
  border: 2px solid #d1b296;
  border-radius: 15px;
  display: flex;
  height: 50px;
  overflow-x: hidden;
  background-color: #eee4e1;
  position:relative;
}

.button-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100vw;
  align-items: center;
  background-color: #eee4e1;
  margin-left: 0.75em;
  margin-right: 0.75em;
  padding: 0.75rem;
  min-width: fit-content;
  cursor: pointer;
}


@media screen and (max-width: 865px) {
  .navbar,
  .home-button,
  .favorite-button {
   position: static
  }
 }