
 .navbar { 
  background-color: rgba(255, 255, 255, 0.323);
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  /* margin-bottom: 50% ; */
  height: 5vh;
}

.button {
  display: flex;
  justify-content: flex-end;
  position: absolute;
  top: 10px;
  right: 2vw;
  color: white;
  align-items: center;
  /* justify-content: space-around; */
}